 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    max-width: 100%;
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 40%;
    min-height: 100vh;
    background: rgba(80, 80, 80, 0.6);
    position: relative;
    transform: translateX(-100%);
    animation-duration: 2s;
    animation-name: pull;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.menu {
    position: absolute;
    top: 12px;
    right: 12px;
    filter:brightness(0);
    opacity: 0.5;
    cursor: pointer;
}
.icon {
    max-width: 200px;
    cursor: pointer;
} 
.info {
    position: absolute;
    padding: 50px, 18%;
    color: aliceblue;
    margin-left: 35px;
    display: block;
    flex-shrink: inherit;
}
.info h3 {
    font-size: calc(1.5rem + 2vw);
    line-height: 60px;
    font-weight: normal;
}
.info h1 {
    font-size: calc(1.5rem + 4vw);
    font-weight: normal;
    margin-bottom: 35px;
    
}

.sidebar {
    top: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
}

.slide {
    height: inherit;
    width:180px;
    position: relative;
    background-color: grey;
    transition: 0.5s ease;
    top: 0%;
    right: 0%;
}
ul li {
    list-style: none;
}

ul li a {
    color: aliceblue;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5px 0;
}

input {
    display: none;
    visibility: hidden;
    
}

.toggle {
    right: 0;
    position: relative;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
    background-color: red;
}

@keyframes pull {
    0%{

    }
    100%{
        transform: translateX(0.01%);
    }
}
